%header{ class: "messages"}
  - if flash[:notice] 
    %p.notice
      = flash[:notice]
  - if flash[:alert] 
    %p.alert
      = flash[:alert]

%main{class: 'entry'}
  = form_for @entry do |f|
    - if @entry.errors.any?
      .errors
        - @entry.errors.full_messages.each do |msg|
          %p
            = msg
    .field
      = f.label :name, "Enter a name:", class: "hidden"
      = f.text_field :name, autofocus: 'autofocus', placeholder: "Enter a name"
    .submit
      = f.submit ""

  %footer
    %p
      = link_to 'About', pages_about_path 
      = link_to 'Interact', new_entry_path 
