<!DOCTYPE html>
<html>
  <head>
    <title>Kapow</title>
    <link href='https://fonts.googleapis.com/css?family=Cardo|Bangers' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>


      <main class="yield">
        <%= yield %>

      <footer>
        <p>
          <%= link_to 'About', pages_about_path %>
          <%= link_to 'Interact', new_entry_path %>
        </p>
      </footer>
      </main>


  </body>
</html>
